# Various sensitive information.
#
# To set things up, do the following:
# 1. Copy this file to credentials.py
# 2. Fill in the variables below

# StockTwits setup.
# (see https://stocktwits.com/developers/docs/authentication)
st_access_token = 'my-StockTwits-access-token'
