# Various application settings.
#
# To set things up, do the following:
# 1. Copy this file to settings.py
# 2. Fill in the variables below

# Application settings.
st_years          = 2
mt_years          = 5
check_for_holiday = True
export_excel      = False


# StockTwits settings.
# (see https://stocktwits.com/developers/docs/authentication)
st_dry_run      = True
st_access_token = 'my-StockTwits-access-token'

# Short-term VX ETPs
st_st_message    = """$VXX STCMVF settled @ {:.3f} ({:+.1%}).

The short-term constant-maturity VIX futures (STCMVF) is a weighted average of the current front- and back-month VIX futures contracts. It is a benchmark for the short-term volatility ETPs (e.g., VXX, VIXY, SVXY, UVXY, TVIX) and compares to the S&P 500 30-day volatility index ($VIX), which is derived from $SPX options. STCMVF is an ideal but inaccurate reflection of portfolios held by the volatility ETPs, and STCMVF resets its value on a daily basis, discounting loss from prior contracts; SPVIXST is another benchmark that includes prior contract loss. The posted quote is derived from VIX futures daily settlement."""
st_post_st_chart = True
st_st_chart_file = 'st_chart.png'

# Mid-term VX ETPs
st_mt_message    = """$VXZ MTCMVF settled @ {:.3f} ({:+.1%}).

The mid-term constant-maturity VIX futures (MTCMVF) is a weighted average of the current 4th, 5th, 6th, and 7th month VIX futures contracts. It is a benchmark for the mid-term volatility ETPs (e.g., VXZ, VIXM, ZIV, VIIZ, TVIZ) and compares to the S&P 500 6-month volatility index (VIX6M), which is derived from $SPX options. MTCMVF is an ideal but inaccurate reflection of portfolios held by the volatility ETPs, and MTCMVF resets its value on a daily basis, discounting loss from prior contracts; SPVIXMT is another benchmark that includes prior contract loss. The posted quote is derived from VIX futures daily settlement."""
st_post_mt_chart = True
st_mt_chart_file = 'mt_chart.png'
