# Various application settings.
#
# To set things up, do the following:
# 1. Copy this file to settings.py
# 2. Fill in the variables below

# Application settings.
st_years = 2
mt_years = 5
export_excel = True

# StockTwits settings.
# (see https://stocktwits.com/developers/docs/authentication)
st_dry_run        = True
st_access_token   = 'my-StockTwits-access-token'
# Short-term VX ETPs
st_post_st_cash_tags = True
st_st_cash_tags      = '$VIX $VXX $XIV $VIIX $SVXY $UVXY $TVIX'
st_post_st_chart     = True
st_st_preamble       = st_st_cash_tags if st_post_st_cash_tags else '(TEST)'
st_st_message        = '{} Short-term VIX futures settled {:.3f}({:+.1%}).'
st_st_link_preamble  = ' DATA:'
st_st_link           = None
st_st_chart_file     = 'st_chart.png'
# Mid-term VX ETPs
st_post_mt_cash_tags = True
st_mt_cash_tags      = '$VXZ $ZIV $VIIZ $VIXM $TVIZ'
st_post_mt_chart     = True
st_mt_preamble       = st_mt_cash_tags if st_post_mt_cash_tags else '(TEST)'
st_mt_message        = '{} Mid-term VIX futures settled {:.3f}({:+.1%}).'
st_mt_link_preamble  = ' DATA:'
st_mt_link           = None
st_mt_chart_file     = 'mt_chart.png'
